/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #e4c6c6;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav a.login-button {
    background-color: #9a03ff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin-left: auto;
}

main {
    padding: 2rem;
}

#filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#available-places {
    margin-bottom: 10px;
    font-size: 2rem;
}

#filter {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#filter label{
    margin-right: 10px;
    font-size: 1rem;
}

#contry-filter {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd
}

.places-list, .reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

.place-card, .review-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
}

.place-card .place-image, .review-card .review-image {
    border-radius: 10px;
    width: 200px;
}

.place-details {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.place-image-large {
    border-radius: 10px;
    width: 50%;
}

.place-info {
    width: 50%;
}

.add-review {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-review label {
    font-weight: bold;
}

.add-review input, .add-review textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.add-review button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #9c79a7;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.add-review button:hover {
    background-color: #45355a;
}

footer {
    margin-top: 20px;
    background-color: #712ee4;
    color: #0c0c0c;
    padding: 1rem 0;
    text-align: center;
}
